.main-body {
	display: block;
	padding: 80px 20px 0;
}

article {
	background-color: #303030;
	border-radius: 4px;
	box-sizing: content-box;
	line-height: 27px;
	margin: 0 auto 120px;
	max-width: @columnWidth;
	padding: 40px;

	+ hr {
		border-top: 4px dotted #505050;
		margin: -60px auto 60px;
		max-width: @columnWidth + 80px;
	}
}

.post-draft,
.post-trash {
	border-left: 4px solid #77A9CA;
	box-sizing: content-box;
	left: -12px;
	padding-left: 20px;
	position: relative;
}

.post-trash {
	border-left-color: #a0a0a0;
}

.post-header {
	margin-bottom: 32px;

	h2 {
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 10px;
	 }

	.post-info {
		display: block;
		margin-right: 0;
	}

		.icon-add-before::before {
			font-size: 14px;
		}

		div,
		time {
			display: inline-block;
			margin-right: 24px;
		}
}

.post-future time {
	color: #E74949;
}

.post-categories::before,
.tag::before {
	color: @textColor;
}


.category {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}

	&::after {
		color: @textColor !important;
		content: ",";
	}

	&:last-child::after {
		content: "";
	}
}


.tag {
	display: inline-block;
	margin-right: 16px;

	&:last-child {
		margin-right: 0;
	}

	&::before {
		font-size: 12px;
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
}


.content {
	h3 {
		font-size: 24px;
		margin-bottom: 20px;
		margin-top: 48px;

		@media (max-width: 700px) {
			font-size: 20px;
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

	.abstract {
		font-style: italic;
	}

	.file-hljs {
		background-color: #E7E7E7;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		color: #303030;
		font-size: 13px;
		font-weight: 600;
		padding: 0 8px;
	}

	.illu {
		border-radius: 4px;
		display: flex;
		justify-content: center;
		line-height: 0;
		margin-bottom: 24px;

		img,
		video {
			//
		}

		.caption {
			color: #a0a0a0;
			flex-basis: 100%;
			font-size: 14px;
			line-height: 100%;
			margin-top: 6px;
			text-align: center;
		}
	}

	.imprint-img-m {
		background-color: #f0f0f0;
		border: 4px solid #f0f0f0;
		border-bottom-width: 3px;
		border-radius: 2px;
		box-sizing: content-box;
		margin-right: 3px;
		position: relative;
		top: 6px;
		width: 179px;
	}


.read-more {
	display: block;
	font-weight: 600;
	text-align: center;
	margin-top: 40px;
	text-transform: capitalize;

	&::after {
		content: @stringAfterReadMore;
	}
}

.post-footer {
	background-color: #272727;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 13px;
	margin: 48px -40px -40px;
	padding: 12px 40px;
}



/* --------------------- */
/* Post pages navigation */
/* --------------------- */

.page-navigation {
	display: flex;
	justify-content: center;
	text-align: center;
}

	.page-offset {
		border-radius: 50%;
		font-weight: 600;
		height: 32px;
		line-height: 32px;
		margin: 0 2px;
		width: 32px;

		&:hover {
			background-color: #303030;
		}

		&.current-offset {
			background-color: @bgColor;
		}
	}
