/* --------- */
/* Variables */
/* --------- */

@bgColor: #1a1a1a;
@bgColorBody: #202020;
@columnWidth: 660px;
@fontFamilyCode: "Source Code Pro", "DejaVu Sans Mono", Consolas, monospace;
@fontFamilyText: "Open Sans", sans-serif;
@fontSize: 16px;
@linkColor: #f0f0f0;
@linkDecoColor: #505050;
@linkHoverColor: #909090;
@stringAfterReadMore: " »";
@textColor: #f0f0f0;


/* ----- */
/* Fonts */
/* ----- */

@import "fonts.less";


/* ------ */
/* Basics */
/* ------ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: @fontFamilyText;
	margin: 0;
	padding: 0;
	-moz-tab-size: 4;
	tab-size: 4;
}

html {
	background-color: @bgColor;
	color: @textColor;
	font-size: @fontSize;
	scrollbar-color: #505050 @bgColorBody;
}

body {
	background-color: @bgColorBody;
}

a {
	color: @linkColor;
	text-decoration: #505050 underline 2px;

	&:hover {
		color: @linkHoverColor;
		text-decoration: none;
	}
}

blockquote, dd, dl, hr, ol, p, pre, table, ul {
	margin-bottom: 20px;
}

blockquote {
	border-left: 4px solid #505050;
	color: #a0a0a0;
	padding: 6px 16px;

	ol:last-child,
	p:last-child,
	ul:last-child {
		margin-bottom: 0;
	}

	+ br {
		display: none;
	}
}

button, input, textarea {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: @textColor;
	font-size: @fontSize;
	outline: none;
}

code {
	background-color: #272727;
	border-radius: 3px;
	font-family: @fontFamilyCode;
	font-size: @fontSize - 1px;
	padding: 2px 4px;
	word-break: break-word;
}

// highlight.js
pre.brush, pre.hljs, pre.plain, blockquote.code {
	background-color: #272727;
	color: #f0f0f0;
	font-family: @fontFamilyCode;
	font-size: @fontSize - 1px;
	line-height: 21px;
	overflow: auto;
	padding: 20px 24px;
}

	pre.hljs span {
		font-family: @fontFamilyCode;
		font-size: @fontSize - 1px;
	}

dd {
	margin-left: 26px;
}

dt {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

hr {
	border: 0;
	border-top: 2px dotted rgba( 255, 255, 255, 0.3 );
}

ol, ul {
	margin-left: 16px;
}

table {
	border-spacing: 0;
	width: 100%;
}

	tr {
		background-color: #373737;
	}

	tr:nth-child( 2n + 1 ) {
		background-color: #272727;
	}

		td, th {
			padding: 4px 10px;
		}

		th {
			font-weight: bold;
			text-align: left;
		}


/* ------ */
/* Header */
/* ------ */

@import "header.less";


/* ------- */
/* Sidebar */
/* ------- */

// @import "sidebar.less";


/* ------------------------ */
/* Content: posts and pages */
/* ------------------------ */

@import "content.less";


/* -------- */
/* Comments */
/* -------- */

@import "comments.less";


/* ------ */
/* Footer */
/* ------ */

@import "footer.less";


/* ---------------------------------------------- */
/* CSS for old content or only very special cases */
/* ---------------------------------------------- */

blockquote.error {
	border-left-color: #c00000;
	color: #c00000;
}

.about-avatar {
	border-radius: 50%;
	float: left;
	margin: 0 10px 10px 0;
	width: 72px;
}

.annotation {
	font-size: 13px;
	line-height: 19px;
}

.rating {
	text-align: center;

	strong {
		color: #C0B813;
		font-size: 140%;
		margin-left: 10px;
		vertical-align: top;
	}
}


/* ---------------------------- */
/* Small screens/mobile devices */
/* ---------------------------- */

@media( max-width: 1650px ) {
	h1 {
		margin-bottom: 20px;
	}

	.aside-meta {
		float: none;
		margin: 0 auto;
		max-width: 720px;
		padding: 0 10px;

		.links {
			display: flex;
			flex-wrap: wrap;

			li {
				flex-basis: 50%;
			}
		}
	}

	form.search {
		margin: 12px 10px 0 10px;

		.search-input {
			flex-grow: 1;
			width: auto;
		}
	}

	.main-body {
		padding-top: 40px !important;
	}
}

@media( max-width: 1024px ) {
	.illu {
		left: 0;
		max-width: 100%;
		position: static;
		width: 100% !important;

		img,
		video {
			height: auto !important;
			max-width: 100% !important;
			width: auto !important;
		}
	}
}

@media( max-width: 800px ) {
	h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.main-body {
		padding-left: 0;
		padding-right: 0;
		padding-top: 30px !important;
	}

	article {
		padding-left: 20px;
		padding-right: 20px;
	}

	.post-header h2 {
		font-size: 24px;
		line-height: 28px;
	}

	.post-footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-footer {
		font-size: 14px;
		margin-top: 60px;
		padding: 0 20px 40px;

		h6 {
			font-size: 26px;
			line-height: 26px;
		}

		div {
			margin: 0 10px;
		}

		.stats {
			display: initial;

			.stat {
				margin-right: 0;
			}
		}
	}
}
