/* OpenSans: Regular */

@font-face {
	font-family: "OpenSans Web";
	src: url( "../fonts/open-sans/OpenSans-Regular.ttf" );
}

@font-face {
	font-family: "OpenSans Web";
	font-weight: bold;
	src: url( "../fonts/open-sans/OpenSans-Bold.ttf" );
}

@font-face {
	font-family: "OpenSans Web";
	font-style: italic;
	src: url( "../fonts/open-sans/OpenSans-Italic.ttf" );
}

@font-face {
	font-family: "OpenSans Web";
	font-style: italic;
	font-weight: bold;
	src: url( "../fonts/open-sans/OpenSans-BoldItalic.ttf" );
}


/* OpenSans: Light */

@font-face {
	font-family: "OpenSans Light Web";
	src: url( "../fonts/open-sans/OpenSans-Light.ttf" );
}

@font-face {
	font-family: "OpenSans Light Web";
	font-style: italic;
	src: url( "../fonts/open-sans/OpenSans-LightItalic.ttf" );
}


/* OpenSans: Semibold */

@font-face {
	font-family: "OpenSans Semibold Web";
	src: url( "../fonts/open-sans/OpenSans-Semibold.ttf" );
}

@font-face {
	font-family: "OpenSans Semibold Web";
	font-style: italic;
	src: url( "../fonts/open-sans/OpenSans-SemiboldItalic.ttf" );
}


/* Iconic */

@font-face {
	font-family: "OpenIconic";
	src: url( "../fonts/iconic/open-iconic.otf" ) format( "opentype" );
}


.icon-add-before::before {
	display: inline-block;
	font-family: "OpenIconic";
	font-size: 16px;
	margin-right: 10px;
	position: relative;
}

.icon-before-aperture::before { content: "\e007"; }
.icon-before-audio::before { content: "\e0d5"; }
.icon-before-ban::before { content: "\e017"; }
.icon-before-book::before { content: "\e021"; }
.icon-before-box::before { content: "\e023"; }
.icon-before-check::before { content: "\e033"; }
.icon-before-code::before { content: "\e040"; }
.icon-before-cog::before { content: "\e041"; }
.icon-before-comment::before { content: "\e047"; }
.icon-before-clock::before { content: "\e03b"; }
.icon-before-document::before { content: "\e052"; }
.icon-before-delete::before { content: "\e050"; }
.icon-before-download::before { content: "\e04e"; }
.icon-before-eye::before { content: "\e065"; }
.icon-before-file::before { content: "\e067"; }
.icon-before-folder::before { content: "\e06b"; }
.icon-before-grid3x3::before { content: "\e073"; }
.icon-before-image::before { content: "\e079"; }
.icon-before-inbox::before { content: "\e07a"; }
.icon-before-logout::before { content: "\e001"; }
.icon-before-minus::before { content: "\e09d"; }
.icon-before-pen::before { content: "\e0a3"; }
.icon-before-person::before { content: "\e0a5"; }
.icon-before-plus::before { content: "\e0aa"; }
.icon-before-rss::before { content: "\e0b7"; }
.icon-before-script::before { content: "\e0b9"; }
.icon-before-search::before { content: "\e08f"; }
.icon-before-star::before { content: "\e0c2"; }
.icon-before-tag::before { content: "\e0c5"; }
.icon-before-tags::before { content: "\e0c6"; }
.icon-before-trash::before { content: "\e0cf"; }
.icon-before-upload::before { content: "\e04f"; }
.icon-before-video::before { content: "\e0d4"; }
.icon-before-x::before { content: "\e0db"; }
.icon-before-wrench::before { content: "\e0da"; }



/* End of fonts */


* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "OpenSans Web", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-color: #f6f6f6;
	color: #101010;
	font-size: 14px;
}

a {
	color: #4083A2;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

blockquote, hr, ol, p, pre, ul {
	margin-bottom: 16px;
}

code {
	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 3px;
	font-family: "DejaVu Sans Mono", Georgia, "Courier New", monospace;
	font-size: 13px;
	padding: 2px 4px;
}

h1, h2, h3 {
	font-weight: normal;
}

hr {
	border: 0;
	border-top: 1px dotted #b0b0b0;
}

ol, ul {
	list-style-position: inside;
}



/* Header */

.main-header {
	background-color: #ffffff;
	margin-bottom: 40px;
	padding: 10px 20px;
}

	h1 {
		display: inline-block;
		font-size: 24px;
		line-height: 32px;
		vertical-align: top;
	}

		h1 a {
			font-family: "OpenSans Light Web";
		}

	.icons {
		display: inline-block;
		float: right;
		height: 32px;
		margin: 0 0 0 20px;
	}

		.icons li {
			display: inline-block;
			height: 32px;
			margin-left: 12px;
			width: 32px;
		}

		.icons a {
			background-image: url( "../img/icons-32.png" );
			display: inline-block;
			height: 32px;
			opacity: 0.4;
			width: 32px;
		}

		.icons a:hover {
			opacity: 1.0;
		}

		.icon-github a { background-position: 0 64px; }
		.icon-rss a { background-position: 0 32px; }
		.icon-twitter a { background-position: 0 0; }



/* Sidebar */

.recent-comments {
	float: left;
	margin-left: 20px;
}

	.recent-comments h6 {
		font-family: "OpenSans Semibold Web";
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 10px;
	}

	.recent-comments div {
		margin-bottom: 10px;
		white-space: nowrap;
		max-width: 160px;
	}

		.recent-comments img {
			border-radius: 48px;
			display: inline-block;
			margin-right: 4px;
			vertical-align: top;
		}

		.comment-meta {
			display: inline-block;
			margin-top: -2px;
		}

			.comment-meta .author,
			.comment-meta .article,
			.comment-meta time {
				display: block;
				margin-bottom: -2px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.comment-meta .author {
				font-family: "OpenSans Semibold Web";
			}

			.comment-meta .article {
				font-size: 90%;
			}

			.comment-meta time {
				color: #909090;
				font-size: 80%;
				margin-bottom: 0;
				margin-top: 2px;
			}



/* Post and page */

.main-body {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}

article {
	line-height: 24px;
	margin-bottom: 60px;
}

	h2 {
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 32px;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 16px;
		margin-top: 32px;
	}

	.content {}

		.content a {
			border-bottom: 1px solid #8EB5C7;
		}

		.content a:hover {
			border-bottom-color: transparent;
			color: #4083A2;
		}

		.illu {
			border-radius: 4px;
			left: -150px;
			line-height: 0;
			margin-bottom: 24px;
			position: relative;
			text-align: center;
			width: 900px;
		}

		.illu > img {
			box-shadow: 0 6px 20px 0 rgba( 0, 0, 0, 0.25 );
		}

		.syntaxhighlighter {
			border-bottom: 1px solid #e0e0e0;
		}




/* Footer */

.main-footer {
	background-color: #6B98AB;
	clear: both;
	font-size: 16px;
	margin-top: 120px;
	padding: 0 60px 60px 60px;
	text-align: center;
	text-transform: uppercase;
}

	.main-footer a {
		border-bottom: 1px solid #396F92;
		color: #ffffff;
	}

	.main-footer a:hover {
		border-bottom-color: transparent;
	}

	.main-footer div {
		color: #ffffff;
		display: inline-block;
		margin: 0 30px;
		text-align: right;
		vertical-align: top;
	}

		.main-footer h6 {
			font-family: "OpenSans Semibold Web";
			font-size: 36px;
			font-weight: normal;
			letter-spacing: -2px;
			line-height: 36px;
			margin: -7px 0 18px 0;
		}

		.main-footer ul {
			list-style-type: none;
			margin-left: 4px;
		}

			.main-footer li {
				margin-bottom: 8px;
			}

			.main-footer span {
				display: inline-block;
				margin-right: 8px;
			}

			.main-footer code {
				background-color: transparent;
				border: 0;
				font-size: 17px;
				text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.4 );
			}

	.log {
		background-color: #ffffff;
		border-radius: 4px;
		color: #000000;
		font-size: 14px;
		line-height: 14px;
		margin-top: 20px;
		padding: 10px;
		text-align: left;
		text-transform: none;
	}

		.log code {
			font-size: 13px;
			text-shadow: none;
		}
