.form-create {}

	.form-create aside {
		background-color: #f0f0f0;
		border-radius: 4px;
		display: inline-block;
		margin-right: 20px;
		padding: 10px;
		vertical-align: top;
		width: 320px;
	}

	.form-create .main-content {
		display: inline-block;
		width: 700px;
	}

		.input-group {
			margin-bottom: 10px;
		}

		.input-group:last-child {
			margin-bottom: 0;
		}

	.form-create input[type="text"],
	.form-create textarea {
		width: 100%;
	}

	.form-create textarea {
		height: 300px;
		resize: vertical;
	}
