.form-create {}

	.form-create aside {
		background-color: #f0f0f0;
		border-radius: 4px;
		display: inline-block;
		margin-right: 20px;
		padding: 10px;
		vertical-align: top;
		width: 320px;
	}

	.form-create .main-content {
		display: inline-block;
		width: 700px;
	}

		.input-group {
			margin-bottom: 12px;
		}

		.input-group:last-child {
			margin-bottom: 0;
		}

			.input-group h3 {
				margin-bottom: 4px;
			}

	.form-create .main-content input[type="text"],
	.form-create textarea {
		width: 100%;
	}

	.form-create textarea {
		height: 300px;
		resize: vertical;
	}

	input[type="checkbox"] {
		margin-right: 6px;
		position: relative;
		top: -2px;
	}

	.form-create .icon-add-before::before {
		position: relative;
		top: 2px;
	}


.input-group-datetime {
	margin-bottom: 10px;
}

	.input-group-datetime .icon-add-before::before {
		margin-right: 4px;
		top: 3px;
	}

	.input-group-datetime input {
		text-align: center;
		width: 38px;
	}

	input[name="post-publish-year"],
	input[name="page-publish-year"] {
		width: 54px;
	}

	.input-group-datetime .comma {
		margin-left: -1px;
		margin-right: 2px;
	}

	.input-group-datetime .colon {
		margin: 0 -2px;
	}


.choose-categories {
	background-color: #FAFAFA;
	border-radius: 2px;
	height: 106px;
	margin: 0;
	min-height: 40px;
	overflow: auto;
	padding: 10px;
	resize: vertical;
}

	.choose-categories li {
		list-style-type: none;
		margin-bottom: 4px;
	}

	.choose-categories input[type="radio"] {
		margin-right: 4px;
		position: relative;
		top: 3px;
	}


.submit-buttons {
	background-color: #ADBFCA;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0 -10px -10px -10px;
	padding: 10px;
}

	.submit-buttons .btn-publish {
		float: right;
	}
