/* --------- */
/* Open Sans */
/* --------- */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans/open-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../fonts/open-sans/open-sans-v17-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans/open-sans-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../fonts/open-sans/open-sans-v17-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans/open-sans-v17-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans/open-sans-v17-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans/open-sans-v17-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans/open-sans-v17-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Iconic */

@font-face {
	font-family: "OpenIconic";
	src: url( "../fonts/iconic/open-iconic.otf" ) format( "opentype" );
}


.icon-add-before::before {
	display: inline-block;
	font-family: "OpenIconic";
	font-size: 16px;
	margin-right: 10px;
	position: relative;
}

.icon-only::before {
	margin-right: 0;
}

.icon-before-aperture::before { content: "\e007"; }
.icon-before-audio::before { content: "\e0d5"; }
.icon-before-ban::before { content: "\e017"; }
.icon-before-book::before { content: "\e021"; }
.icon-before-box::before { content: "\e023"; }
.icon-before-check::before { content: "\e033"; }
.icon-before-code::before { content: "\e040"; }
.icon-before-cog::before { content: "\e041"; }
.icon-before-comment::before { content: "\e047"; }
.icon-before-clock::before { content: "\e03b"; }
.icon-before-document::before { content: "\e052"; }
.icon-before-delete::before { content: "\e050"; }
.icon-before-download::before { content: "\e04e"; }
.icon-before-eye::before { content: "\e065"; }
.icon-before-file::before { content: "\e067"; }
.icon-before-folder::before { content: "\e06b"; }
.icon-before-grid3x3::before { content: "\e073"; }
.icon-before-home::before { content: "\e078"; }
.icon-before-image::before { content: "\e079"; }
.icon-before-inbox::before { content: "\e07a"; }
.icon-before-link::before { content: "\e086"; }
.icon-before-logout::before { content: "\e001"; }
.icon-before-mail::before { content: "\e05c"; }
.icon-before-minus::before { content: "\e09d"; }
.icon-before-pen::before { content: "\e0a3"; }
.icon-before-person::before { content: "\e0a5"; }
.icon-before-plus::before { content: "\e0aa"; }
.icon-before-rss::before { content: "\e0b7"; }
.icon-before-script::before { content: "\e0b9"; }
.icon-before-search::before { content: "\e08f"; }
.icon-before-star::before { content: "\e0c2"; }
.icon-before-tag::before { content: "\e0c5"; }
.icon-before-tags::before { content: "\e0c6"; }
.icon-before-trash::before { content: "\e0cf"; }
.icon-before-upload::before { content: "\e04f"; }
.icon-before-video::before { content: "\e0d4"; }
.icon-before-x::before { content: "\e0db"; }
.icon-before-wrench::before { content: "\e0da"; }
