form {}

	form .icon-add-before::before {
		cursor: default;
	}

input,
select,
textarea {
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	font-size: 100%;
	padding: 4px 8px;
}

input[readonly] {
	background-color: #e0e0e0;
	color: #707070;
	text-shadow: 0 1px 0 #ffffff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 0.3;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	opacity: 0.3;
}

input[type="checkbox"] {
	vertical-align: middle;
}

select {
	padding:  4px;
}

	option {
		padding: 0 0 0 8px;
	}


.btn {
	background-color: #55A4BF;
	border: 0;
	border-bottom: 1px solid #ffffff;
	border-radius: 4px;
	color: #ffffff;
	padding: 4px 12px;
}

.btn:hover {
	background-color: #3D7E94;
	cursor: pointer;
}

.btn-publish {
	background-color: #CF2F2F;
	font-weight: bold;
}

.btn-publish:hover {
	background-color: #B52424;
}