.manage-entry {
	background-color: #f0f0f0;
	margin-bottom: 10px;
	padding: 10px;
}

	.manage-entry input[type="checkbox"] {
		margin-right: 10px;
	}

	.entry-actions {
		display: inline-block;
		float: right;
	}

		.entry-actions a {
			margin-left: 10px;
		}

.status-active,
.status-available,
.status-published {}

.status-draft {
	background-color: #C9E2EE;
}

.status-spam,
.status-suspended {
	background-color: #F8C2C2;
}

.status-trash {
	background-color: #DCD6D1;
}


.manage-page-navigation {
	text-align: center;
}

	.page-offset {
		border: 0;
		border-right: 1px solid #f0f0f0;
		display: inline-block;
		padding: 0 8px;
		text-align: center;
	}

	.page-offset:hover {
		background-color: #f0f0f0;
	}

	.current-offset {
		color: #000000;
	}

	.jump-last-page {
		border-right: 0;
	}
