.filter-status-nav {
	display: inline-block;
	margin-bottom: 20px;
}

.filter-status-nav::before {
	content: 'Filter:';
	display: inline-block;
}

	.filter-status-nav a {
		display: inline-block;
		margin-left: 6px;
	}


.bulk-action {
	display: inline-block;
	float: right;
	margin-top: -6px;
	vertical-align: top;
}

.bulk-action::before {
	content: 'Status change:';
	margin-right: 4px;
}

	.bulk-action button {
		margin-left: 4px;
	}


.manage-entry {
	background-color: #f0f0f0;
	clear: both;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 10px;
}

	.manage-entry input[type="checkbox"] {
		margin-right: 10px;
		vertical-align: top;
	}

	.entry-title {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: top;
		white-space: nowrap;
		width: calc( 100% - 260px );
	}

		.entry-title span {
			background-color: rgba( 0, 0, 0, 0.07 );
			border-radius: 4px;
			color: #606060;
			display: inline-block;
			margin-left: 10px;
			padding: 2px 4px;
		}

		.entry-title .icon-add-before {
			background-color: transparent;
			border-radius: 0;
			padding: 0;
			position: relative;
			top: 2px;
		}

	.entry-actions {
		display: inline-block;
		float: right;
		text-align: right;
		width: 200px;
	}

		.entry-actions a {
			border-bottom: 0;
			border-left: 1px solid rgba( 0, 0, 0, 0.2 );
			padding: 0 10px;
			margin-right: -4px;
		}

		.entry-actions a::before {
			cursor: pointer;
		}

		.entry-actions a:first-child {
			border-left: 0;
			margin-left: 0;
		}

		.entry-actions .icon-add-before {
			border-bottom: 0;
		}

		.entry-actions .icon-add-before::before {
			margin-right: 0;
		}

			.entry-delete {
				color: #C21010;
			}

.status-active,
.status-available,
.status-published {}

.status-draft {
	background-color: #C9E2EE;
}

.status-spam,
.status-suspended {
	background-color: #F8C2C2;
}

.status-trash {
	background-color: #DCD6D1;
}


.manage-page-navigation {
	text-align: center;
}

	.page-offset {
		border: 0;
		border-right: 1px solid #f0f0f0;
		display: inline-block;
		padding: 0 8px;
		text-align: center;
	}

	.page-offset:hover {
		background-color: #f0f0f0;
	}

	.current-offset {
		color: #000000;
	}

	.jump-last-page {
		border-right: 0;
	}
