@import url( "manage.css" );


.setting {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
}

	.setting label {
		display: inline-block;
		width: 160px;
	}

	.settings .btn {
		margin-top: 20px;
	}

.create-filter {
	background-color: #f0f0f0;
	border-radius: 4px;
	margin-bottom: 60px;
	padding: 10px;
}

	.create-filter .btn {
		margin-left: 20px;
		margin-top: 0;
	}

.manage-entry span {
	margin-left: 0;
}
